Iris Morelle <iris@irydacea.me> <shadowm@wesnoth.org>
Iris Morelle <iris@irydacea.me> <shadowm2006@gmail.com>
Alexander van Gessel (AI0867) <ai0867@gmail.com> <AI0867@gmail.com>
Pentarctagon <pentarctagon@tutamail.com>
